.gameboard {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
}

.gameboard > div {
    border: 2px solid black;
}