html {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
  }

  :root {
    --color-primary: #0B60B0;
    --color-secondary: #000000;
    --color-tertiary: #40A2D8;

    --font-size-one: 4rem;
    --font-size-one-highlight: 6rem;
    --font-size-two: 2rem;
    --font-size-three: 6rem;

    --font-family-primary: "Permanent Marker", cursive;
  }

.container {
  width: 45rem;
  height: 50rem;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.5rem  solid var(--color-primary);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.menu {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 0rem;
  font-size: var(--font-size-one);
  font-family: var(--font-family-primary);
  color: var(--color-primary);
  user-select: none;
}

.menu > p:nth-of-type(1):hover {
  cursor: default;
}

.name_inputs {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-self: center;
  font-size: var(--font-size-two);
}

.name_inputs > div {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 0.2fr));
}

.name_inputs > div > label {
  justify-self: center;
}

.name_inputs > div > input {
  width: 15rem;
  height: 2rem;
  border: 0;
  border-bottom: 0.4rem  solid var(--color-primary);
  font-size: var(--font-size-two);
  font-family: var(--font-family-primary);
  color: var(--color-primary);
  padding-left: 2rem;
}

.name_inputs > div > input:focus {
  color: var(--color-tertiary);
  outline: 0;
  border-bottom: 0.4rem solid var(--color-tertiary);
  padding-left: 2rem;
}

.menu > p:nth-of-type(2) {
  justify-self: center;
  font-size: var(--font-size-one-highlight);
}

.menu > p:nth-of-type(2):hover {
  color:  var(--color-tertiary);
  cursor: default;
}

.game_screen {
  display: grid;
  grid-template-rows: minmax(0, 1fr) minmax(0, 7fr);
  gap: 5rem;
  justify-items: center;
  font-size: var(--font-size-one);
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  padding-top: 5rem;
  user-select: none;
  cursor: default;
}

.game_screen > div:nth-of-type(1) {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  justify-items: center;
  gap: 5rem;
}

.gameboard {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
}

.gameboard > div {
  font-family: var(--font-family-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-three);
  color: var(--color-primary);
}

.gameboard > div:nth-child(1) {
  border-right: 0.7rem solid var(--color-primary);
  border-bottom: 0.7rem  solid var(--color-primary);
}

.gameboard > div:nth-child(2) {
  border-bottom: 0.7rem  solid var(--color-primary);
  border-right: 0.7rem solid var(--color-primary);
}

.gameboard > div:nth-child(3) {
  border-bottom: 0.7rem  solid var(--color-primary);
}

.gameboard > div:nth-child(4) {
  border-right: 0.7rem solid var(--color-primary);
  border-bottom: 0.7rem  solid var(--color-primary);
}

.gameboard > div:nth-child(5) {
  border-bottom: 0.7rem  solid var(--color-primary);
  border-right: 0.7rem solid var(--color-primary);
}

.gameboard > div:nth-child(6) {
  border-bottom: 0.7rem  solid var(--color-primary);
}

.gameboard > div:nth-child(7) {
  border-right: 0.7rem  solid var(--color-primary);
}

.gameboard > div:nth-child(8) {
  border-right: 0.7rem  solid var(--color-primary);
}

.end_game_screen {
  display: grid;  
  grid-template-rows: repeat(2, minmax(0, 1fr)); 
  gap: 10rem;
  color: var(--color-primary);
  font-size: var(--font-size-one);
  font-family: var(--font-family-primary);
  cursor: default;
  user-select: none;
  justify-items: center;
}

.end_game_screen > p:nth-of-type(2) {
  justify-self: center;
}

.end_game_screen > p:nth-of-type(2):hover {
  color: var(--color-tertiary);
}

.hideClass {
  display: none;
}

.highlightClass {
  color: var(--color-tertiary);
}